body {
  filter: brightness(107%) sepia(0%);
  background-color: gray;
}

#navbar #username {
  background-color: yellow;
  padding-left: 15px;
  padding-right: 15px;
}

.nav.navbar-nav.ml-auto {
  background-color: yellow;
}

#hero {
  margin-top: 66px;
  /*background-color: red;*/
}

#herocolumn {
  /*background-color: red;*/
  margin: auto;
}

#Card1 {
  max-width: 800px;
  margin: auto;
}

#navbar {
  max-width: 800px;
  margin: auto;
}

body {
  /*margin-bottom: -100px;*/
}

